<h1>Students List :</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Major</th>
      <th scope="col">AVG</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of Students">
      <th scope="row">{{s.id}}</th>
      <td>{{s.name}}</td>
      <td>{{s.major}}</td>
      <td>{{s.avg}}</td>
      <spam *ngIf="s.avg > 90 ;">
      <td><i class="fas fa-star"></i></td>
      </spam>

    </tr>
  </tbody>
</table>


